<!DOCTYPE html>
<html>
    <head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Деканатский дзен</title>

    <link href="../static/font-awesome.css" rel="stylesheet">
    <link href="../static/css.css" rel="stylesheet" type="text/css">
    <link href="../static/reset.css" rel="stylesheet" type="text/css">
    <link href="../static/main.css" rel="stylesheet" type="text/css">

    <script src="../static/jquery_002.js"></script>
    <script src="../static/jquery_003.js"></script>
    <script src="../static/jquery.js"></script>
    <script src="../static/buzz.js"></script>
    <script src="../static/main.js"></script>
</head>

<body>

<div class="ocean" style="position: relative;" id="container" data-vide-options="muted: true, volume: 0.02">

    <div class="video-container">
        <video autoplay loop id="bgvid">
            <source src="static/ocean.mp4" type="video/mp4">
            <source src="static/ocean.webm" type="video/webm">
            <source src="static/ocean.dms" type="video/ogg">
        </video>
    </div>

    <div class="datetime">
        <div class="date"></div>
        Деканатский дзен
    </div>

    <div style="margin-top: -84.5px;" class="quotes">
        {% for metric in metrics %}
            <div style="width: {{ block_width_percent }}%;" class="item usd plus">
                <div style="font-size: 153.226px;" class="value">{{ metric.last_value.body }}</div>
                <div class="note">{{  metric.name }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="clients-online showed">
        <a href="https://vk.com/decanat_rk" style="color: white;">Деканат РК</a></span>
        <span>Идея: <a href="http://zenrus.ru" style="color: white;">zenrus.ru</a></span>
        <span>,</span>
        <span><a href="https://vk.com/id158530417" style="color: white;">=)</a></span>
        <span>Участвовать:</span>
        <span><a href="https://github.com/Matvey-Kuk/DekanatDzen" style="color: white;">Github</a></span>
    </div>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter27916437 = new Ya.Metrika({id:27916437,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/27916437" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body></html>